<div class="container-new">
<div class="container">
    <div class="row">
        <div class="col col-xs-12 col-sm-6 col-sm-offset-3">
            <h3>Add a cocktail!</h3>
                <%= simple_form_for(@cocktail) do |f| %>
                    <%= f.input :name, label: "Insert your poison of choice:", label_html: { class: "drink-text" } %>
                    <%= f.button :submit %>
                 <% end %>
           
        </div>
    </div>
</div>
</div>