.add_cocktail_button {
    margin: 10px;
}


.container-new {
    background-image: url(image_path('productivity.jpg'));
    background-size: contain;
    height: 100vh;
}

h3 {
    color: wheat;
}

.drink-text {
    color: aquamarine;
}

